@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar */

@keyframes slideFadeDown {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar {
  height: clamp(4rem, 5vw, 5rem);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
}

.navbar.sticky {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.5s ease-in-out;
  animation: slideFadeDown 0.8s ease-in-out forwards;
}

.navbar .main-nav .hamburger-menu .menu-btn {
  transition: all 0.5s ease-in-out;
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.navbar .main-nav .hamburger-menu .menu-btn .cross {
  transform: translateX(0);
  animation: slideRight 1.4s ease-in-out;
}

.navbar .main-nav .hamburger-menu .menu-btn .cross.close {
  transform: translateX(-100%);
  animation: slideRight 0.8s ease-in-out;
}

.navbar .nav-wrapper .menu-container {
  left: -100vw;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  transition: left 0.8s ease-in-out;
}

.navbar .nav-wrapper .menu-container.open {
  left: 0;
  transition: left 0.8s ease-in-out;
}

.navbar .nav-wrapper .menu-container .menu-links {
  padding: clamp(1rem, 5vw, 2rem);
}

.navbar .nav-wrapper .menu-container .menu-links .sub-menu {
  padding: clamp(0.2rem, 5vw, 0.5rem) clamp(0.5rem, 5vw, 1rem);
}

.navbar .nav-wrapper .menu-container .menu-links .sub-menu .navigation-link {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-0.5rem);
  }

  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

.navbar .main-nav .nav-links .navigation-link .sub-menu {
  padding: clamp(0.5rem, 5vw, 1rem);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  animation: slideDown 0.8s ease-in-out forwards;
}

.navbar .main-nav .nav-links .navigation-link .sub-menu .navigation-link {
  padding: 0 1rem;
  border-radius: 0.5rem;
  width: 100%;
}

.navbar .main-nav .nav-links .navigation-link .sub-menu .navigation-link:hover {
  color: tomato;
  background-color: rgba(0, 0, 0, 0.04);
}


/* Main Page */

.carousel {
  scrollbar-width: none;
}

.dealer-info-container {
  width: clamp(0rem, 90vw, 70.625rem);
}

.dealer-info-container .dealer-more-container .section-container,
.dealer-info-container .dealer-more-container .payment-section {
  background-color: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.dealer-info-container .dealer-more-container .payment-section,
.dealer-info-container .dealer-more-container .section-container {
  padding: clamp(1rem, 5vw, 2rem);
}

.dealer-info-container .dealer-more-container .section-container .heading {
  font-size: clamp(0.5rem, 5vw, 1.5rem);
  font-weight: 600;
  margin-bottom: clamp(0.5rem, 5vw, 1rem);
}

.dealer-info-container .dealer-more-container .payment-section-heading {
  font-size: clamp(0.5rem, 5vw, 1rem);
  font-weight: 600;
}

.dealer-info-container .dealer-more-container .section-container .customer-review {
  padding: clamp(0rem, 5vw, 1rem);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: clamp(0.5rem, 5vw, 1rem);
}

/* Footer */

.footer {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.footer .footer-ask-question {
  padding: clamp(1rem, 5vw, 2rem) clamp(0rem, 5vw, 10rem);
}

.footer .footer-content {
  padding: clamp(1rem, 5vw, 3rem) clamp(2rem, 5vw, 6rem);
}

@media (min-width: 769px) and (max-width: 1024px) {
  .dealer-info-container {
    width: clamp(0rem, 100vw, 70.625rem);
  }
}